<div id="menu-icon">
    <i class="fa fa-bars fa-2x"></i>
</div>
<div id="logo">
    <i class="fas fa-plane"></i>
</div>
<div class="menu ">
    <ul>
        <li>
            <a href="">Home</a>
        </li>
        <li>
            <a href="">About</a>
        </li>
        <li>
            <a href="">Contact Us</a>
        </li>
        <li>
            <a href="">Gallery</a>
        </li>
    </ul>
</div>