<!-- views/pages/create.ejs -->
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <% include partials/head %>
</head>

<body>


    <form action="/destination" method="POST">

        <label for="destination_name">Destination Name</label>
        <input type="text" name="destination_name" placeholder="Destination Name">

        <label for="meta_description">Meta Description</label>
        <input type="text" name="meta_description" placeholder="Meta description">


        <input type="submit">
    </form>


</body>

</html>