<!-- views/pages/create.ejs -->
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <% include partials/head %>
</head>

<body>


    <form action="/users" method="POST">

        <label for="full_name">Full Name</label>
        <input type="text" name="full_name" placeholder="Full Name">

        <label for="Email">Email</label>
        <input type="email" name="email" placeholder="Email">


        <button type="submit" >Submit</button>
    </form>


</body>

</html>