<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <% include partials/head %>
</head>

<body>
  <!-- HEADER includes: navbar + slider -->

  <header>
    <nav id="navbar">

      <% include partials/navbar %>

    </nav>

    <!-- Homepage image with text -->
    <section>
      <figcaption class="hp-img">
        <img src="/images/homepage.jpeg" alt="green rice fields">
        <div>
          <h2>Sustainable Travel</h2>
          <p>Experience it all.
            <br> Leaving no footprints
            <i class="fab fa-pagelines"></i>
          </p>
        </div>
      </figcaption>
    </section>

  </header>

  <!-- ARTICLE ABOUT US Q's + A's -->



  <article id="about_us">

    <div>
      <h3>Who?</h3>
      <p>Sustainable Travel started in 2010 as an initiative to uplift communities and preserve exotic destinations. Tourism
        allows these communities to grow and live better lives. However, we did see the tourism industry does not follow
        a very eco-concious model and we have started to change that. </p>
    </div>
    <div>
      <h3>What?</h3>
      <p>Travel with a difference - Our guests enjoy world-class standards without affecting immediate communities or the surrounding
        environment. By embracing our natural surroundings and working alongside the immediate communities, we reduce not
        only our carbon footprints but also uplift the native residents in the areas.</p>
    </div>
    <div>
      <h3>Where?</h3>
      <p>We specialize in exotic/tropical destinations. Give back to the environment and local communities by checking into
        our eco-resorts in Vietnam, India and Sri Lanka. We scout rural and isolated locations in exotic destinations. Being
        able to enjoy a luxurious holiday and simultaneously uplifting a community is a wonderful experience. </p>
    </div>

  </article>

  <main>
    <% for (destination of destinations) { %>
      <!-- IMAGE DESTINATION CARD -->
      <article class="destination_card">
        <a href='destination/<%= destination._id %>'>
          <span class="outline"></span>
          <figcaption>
            <!-- THIS IMAGE NEEDS TO LOOP FROM THE DESTIANTION FILE OR DATABASE -->
            <img src="/images/<%= destination.uploaded_file %>" alt="">
            <div class="card_text">
              <h2>
                <%= destination.destination_name %>
              </h2>
              <p>
                <%= destination.meta_description %>
              </p>

            </div>
            <div>
              <span>Be my Guest</span>
            </div>
          </figcaption>
        </a>
      </article>
      <% } %>
  </main>

  <footer>


    <div id="social-media-btns">
      <h3>Follow us around the world.</h3>
      <i class="fab fa-facebook-f fa-2x"></i>
      <i class="fab fa-instagram fa-2x"></i>
      <i class="fab fa-twitter fa-2x"></i>
    </div>

    <div class="wrapper">
      <form action="/users" method="POST">

        <label for="full_name">Full Name</label>
        <input type="text" name="full_name" placeholder="Full Name">
        <p></p>

        <label for="Email">Email</label>
        <input type="email" name="email" placeholder="Email">
        <p></p>


        <button type="submit">Submit</button>
      </form>


    </div>


  </footer>

</body>
<script type="text/javascript">
  


  $(document).ready(function () {
    $("#menu-icon").on("click", function () {
      $("nav ul").toggleClass("showing");
    });
  });

  

  $(window).on("scroll", function () {
    if ($(window).scrollTop()) {
      $('nav').addClass('black');
    } else {
      $('nav').removeClass('black');
    }
  })

 
     // Scroll down fade away ====== Scroll up appear again
  var prevScrollpos = window.pageYOffset;
  window.onscroll = function () {
    var currentScrollPos = window.pageYOffset;
    if (prevScrollpos >
      currentScrollPos) {
      document.getElementById("navbar").style.top = "0";
    } else {
      document.getElementById("navbar").style.top = "-50px";
    }
    prevScrollpos = currentScrollPos;
  }
</script>

</html>