<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <% include partials/head %>
</head>

<body>

  <!-- HEADER includes: navbar + slider -->

  <header>

    <nav>

      <div id="nav_logo">
        <!-- Insert logo or icon -->
        <i>
          <i class="fas fa-plane fa-3x"></i>
        </i>
      </div>


      <div>
        <ul>
          <li>
            <a href="index.html">Home</a>
          </li>
          <li>
            <a href="#about_us">About</a>
          </li>

          <li>
            <a href="">Contact</a>
          </li>


        </ul>

      </div>
      <!-- Here I have effect 14 navbar effects -->
    </nav>


    <!-- Slider and text -->

    <section>



      <figcaption class="hp_img">

        <img src="/images/hp.jpeg" alt="">
        <div>
          <h2>Sustainable Travel</h2>
          <p>Experience it all.
            <br> Leaving no footprints
            <i class="fab fa-pagelines"></i>
          </p>
        </div>

      </figcaption>

    </section>

  </header>

  <!-- ARTICLE ABOUT US Q's + A's -->



  <article id="about_us">

    <div>
      <h3>Who?</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
        dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
        book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially
        unchanged. It was Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
    <div>
      <h3>What?</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
        dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
        book. It has survived re like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
    <div>
      <h3>Where?</h3>
      <p>Lorem five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised
        in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
        publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>

  </article>

  <main>



    <% for (destination of destinations) { %>

    <!-- IMAGE DESTINATION CARD -->
    <article class="destination_card">
<a href="/destination" >

        <span class="outline"></span>

        <figcaption>

          <!-- THIS IMAGE NEEDS TO LOOP FROM THE DESTIANTION FILE OR DATABASE -->
          <img src="/images/vietnam/2.jpg" alt="">
          <div class="card_text">

            <h2>
              <%= destination.destination_name %>
            </h2>
            <p>
              <%= destination.meta_description %>
            </p>

            <div>
              <span>Be my Guest</span>
            </div>


          </div>

        </figcaption>

      </a>
    </article>

    <% } %>

    <!-- <article class="destination_card">
      <a href="destination">
        <span class="outline"></span>

        <figcaption>
          <img src="/images/india/1.jpg" alt="">
          <div class="card_text">
            <h2>India</h2>
            <p>Massive landscapes, big flavours and the warmest smiles</p>
            <div>
              <span>Be my Guest</span>
            </div>
          </div>
        </figcaption>

      </a>
    </article>

    <article class="destination_card">
      <a href="destination">
        <span class="outline"></span>

        <figcaption>
          <img src="/images/vietnam/7.jpeg" alt="">
          <div class="card_text">
            <h2>Vietnam</h2>
            <p>Cool Cool Cool Cool Cool Cool Cool Cool Cool Cool</p>
            <div>
              <span>Be my Guest</span>
            </div>
          </div>
        </figcaption>

      </a>
    </article> -->

  </main>

  <footer id="footer">

    <div>
      <i></i>
    </div>
    <div>
      <h3>Dont miss out on your next dream coming true.</h3>
    </div>

    <div>
      <form action="/users" method="POST">

        <label for="full_name">Full Name</label>
        <input type="text" name="full_name" placeholder="Full Name">

        <label for="Email">Email</label>
        <input type="email" name="email" placeholder="Email">


        <button type="submit">Submit</button>
      </form>


    </div>







  </footer>

</body>

</html>