
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Sustainable Tranquility</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>

  <!-- HEADER includes: navbar + slider -->

  <header>

    <nav>

      <div id="nav_logo">
        <!-- Insert logo or icon -->
        <i></i>
      </div>

      <div>
        <ul>
          <li>
            <a href="index.html">Home</a>
          </li>
          <li>
            <a href="#about_us">About</a>
          </li>

          <li>
            <a href="">Contact</a>
          </li>


        </ul>

      </div>
      <!-- Here I have effect 14 navbar effects -->
    </nav>


    <!-- Slider and text -->

    <section>



      <figcaption class="hp_img">

        <img src="/images/vietnam/8.jpg" alt="">
        <div>
          <h2>Vietnam</h2>
          <p>THe coast with culture</p>
        </div>

      </figcaption>

    </section>

  </header>

  <!-- ARTICLE ABOUT US Q's + A's -->

  <main>

    <article id="about_us">

      <div>
        <h3>Who?</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
          dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
          specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
          essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
          passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>
      <div>
        <h3>What?</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
          dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
          specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
          essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
          passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>
      <div>
        <h3>Where?</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
          dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
          specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
          essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
          passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>

    </article>

    <!-- IMAGE DESTINATION CARD -->
    <article id="destination_card">
      <a href="destination">

        <figcaption>
          <img src="/images/vietnam/7.jpeg" alt="">
          <div>
            <h2>Vietnam</h2>
            <p>Cool Cool Cool Cool Cool Cool Cool Cool Cool Cool</p>
            <span>Be my Guest</span>
          </div>
        </figcaption>

      </a>
    </article>

  </main>

  <footer id="footer">

    <div>
      <i></i>
    </div>
    <div>
      <h3>Dreams are meant to be experienced.</h3>
    </div>

    <div>
      <form id="submitPost" action="" method="post">

        <label>
          Join our traveling newsletter...
          <input type="email" name="newsletter_email" value="" placeholder="Email address">
        </label>
      </form>
    </div>





  </footer>

</body>

</html>