<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <% include partials/head %>
</head>

<body>

<% for (user of users) { %>
<p style="color:black">
    <%= user %>
</p>

 <% } %>
    


  

</body>

</html>