body {
  margin: 0 0.65em;
  background-color: #f8f5ed;
  font-family: sans-serif;
  display: block; }

header nav {
  margin-top: 1em;
  position: fixed;
  z-index: 100;
  width: 100%; }
  header nav #nav_logo {
    display: inline-block;
    position: absolute;
    left: 0;
    color: #fff;
    margin: 0 0.65em; }
  header nav div {
    position: absolute;
    right: 0; }
    header nav div ul li {
      display: inline-block;
      font-weight: 600;
      font-size: 29px;
      margin: 0 0.65em;
      box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
      transition: 0.3s; }
      header nav div ul li:hover {
        background-color: #474747; }
    header nav div ul a {
      color: #fff;
      font-size: 0.85em;
      text-decoration: none;
      text-transform: uppercase;
      padding: 0.5em;
      transition: 0.3s; }
      header nav div ul a:hover {
        text-decoration: underline; }
header section .hp_img {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  text-align: center; }
  header section .hp_img img {
    max-height: 100%;
    max-width: 100%; }
  header section .hp_img div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    header section .hp_img div h2 {
      font-size: 5vw;
      color: #fff; }
    header section .hp_img div p {
      font-size: 3vw;
      color: #fff; }

#about_us {
  display: grid;
  grid-template-columns: repeat(3, 1fr); }
  #about_us div {
    color: #000;
    margin: 10% 10%;
    text-align: center;
    line-height: 1.5em; }
    #about_us div h3 {
      font-size: 3vw;
      text-decoration: underline; }
      #about_us div h3 p {
        font-size: 1.5vw; }

main .destination_card {
  margin: 15vh 20vw;
  background-color: #000;
  box-shadow: 0 4px 11px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24); }
  main .destination_card a {
    text-decoration: none; }
    main .destination_card a figcaption {
      position: relative; }
      main .destination_card a figcaption img {
        max-height: 100%;
        max-width: 100%; }
      main .destination_card a figcaption .card_text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: #fff; }
        main .destination_card a figcaption .card_text h2 {
          font-size: 4vw;
          padding: 0 3vw; }
        main .destination_card a figcaption .card_text p {
          font-size: 2vw;
          padding: 0 3vw; }
        main .destination_card a figcaption .card_text div {
          margin-top: 35%; }
          main .destination_card a figcaption .card_text div span {
            padding: 0 3vw;
            padding: 3vw;
            border-radius: 5px 5px 5px;
            border: 2px solid #f8f5ed;
            font-size: 2vw; }

#footer {
  background-color: #C6C5B9;
  display: block;
  margin: 2em 0; }

#main_destination {
  display: grid;
  grid-template-columns: 2fr 1fr; }
  #main_destination article {
    margin-top: 2%;
    padding: 0 2%;
    border-style: solid none none solid;
    border-color: #546A7B; }
  #main_destination #map {
    height: 20em;
    width: 100%;
    padding: 4%;
    border-style: none none none solid;
    border-color: #546A7B; }
  #main_destination section .gallery {
    margin: 5px;
    border: 1px solid #393D3F;
    float: left;
    width: 180px; }
    #main_destination section .gallery img {
      width: 100%;
      height: auto; }

/*# sourceMappingURL=style.css.map */
