body {
  background-color: #f8f5ed;
  font-family: sans-serif;
  display: block; }

header nav {
  position: fixed;
  width: 100%;
  z-index: 100; }
  header nav #menu-icon {
    width: 100%;
    background: #393D3F;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #f8f5ed;
    display: none; }
  header nav #logo {
    position: fixed;
    float: left;
    margin: 16px 36px;
    color: #f8f5ed;
    font-weight: bold;
    font-size: 24px; }
  header nav .black {
    background: #393D3F; }
  header nav ul {
    list-style: none;
    background: transparent;
    overflow: hidden;
    color: #f8f5ed;
    padding: 0;
    text-align: center;
    margin: 0;
    transition: 1s; }
    header nav ul li {
      display: inline-block;
      padding: 20px; }
      header nav ul li a {
        text-decoration: none;
        color: #f8f5ed;
        font-size: 20px; }
@media screen and (max-width: 580px) {
  header nav #menu-icon {
    display: block; }
  header nav #logo {
    position: fixed;
    top: 0;
    margin-top: 16px; }
  header nav .showing {
    max-height: 20em; }
  header nav ul {
    max-height: 0px;
    background: #393D3F; }
    header nav ul li {
      box-sizing: border-box;
      width: 100%;
      padding: 24px 0;
      text-align: center; } }

#about_us {
  display: grid;
  grid-template-columns: repeat(3, 1fr); }
  #about_us div {
    color: #000;
    margin: 10% 10%;
    text-align: center;
    line-height: 1.5em; }
    #about_us div h3 {
      font-size: 3vw;
      text-decoration: underline; }
      #about_us div h3 p {
        font-size: 1.5vw; }

main .destination_card {
  position: relative;
  height: 70vh;
  width: 80vw;
  overflow: hidden;
  margin: 15vh 10vw;
  background-color: #000;
  box-shadow: 0 4px 11px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24); }
  main .destination_card .outline {
    position: absolute;
    z-index: 70;
    top: 0.625em;
    right: 0.625em;
    bottom: 0.625em;
    left: 0.625em;
    border: 1px solid #fff; }
  main .destination_card a {
    text-decoration: none; }
    main .destination_card a figcaption {
      position: relative; }
      main .destination_card a figcaption img {
        max-height: 100%;
        max-width: 100%; }
      main .destination_card a figcaption .card_text {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: #fff; }
        main .destination_card a figcaption .card_text h2 {
          font-size: 4vw;
          padding: 0 3vw; }
        main .destination_card a figcaption .card_text p {
          font-size: 2vw;
          padding: 0 3vw;
          margin-bottom: 20vh; }
      main .destination_card a figcaption div {
        margin: 7vh 0;
        color: #f8f5ed;
        position: absolute;
        bottom: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center; }
        main .destination_card a figcaption div span {
          padding: 3vw;
          border-radius: 5px 5px 5px;
          border: 2px solid #f8f5ed;
          font-size: 2vw; }

section .hp-img {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  text-align: center; }
  section .hp-img img {
    max-height: 100%;
    max-width: 100%; }
  section .hp-img div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    section .hp-img div h2 {
      font-size: 5vw;
      color: #fff; }
    section .hp-img div p {
      font-size: 3vw;
      color: #fff; }

#main_destination {
  display: grid;
  grid-template-columns: 2fr 1fr; }
  #main_destination article {
    margin-top: 2%;
    padding: 0 2%;
    border-style: solid none none solid;
    border-color: #546A7B; }
  #main_destination #map {
    height: 20em;
    width: 100%;
    padding: 4%;
    border-style: none none none solid;
    border-color: #546A7B; }
  #main_destination section .gallery {
    margin: 5px;
    border: 1px solid #393D3F;
    float: left;
    width: 180px; }
    #main_destination section .gallery img {
      width: 100%;
      height: auto; }

footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: #f8f5ed;
  height: 30vh;
  width: 100vw;
  background-color: #393D3F;
  margin: 0 0; }
  footer #social-media-btns {
    text-align: center; }
    footer #social-media-btns i {
      padding: 2vh 2vw; }
  footer form {
    padding: 3vh 3vw; }
    footer form label {
      text-align: center; }

/*# sourceMappingURL=style.css.map */
