//VARIABLES
$color-white: #fff;
$color-dark: #393D3F;
$color-pearl: #f8f5ed;
$color-beige: #C6C5B9;
$color-rainyday: #62929E;
$color-navygrey: #546A7B;
$color-black: #000;

//MIXIN
@mixin max_image {
  max-height: 100%;
  max-width: 100%
}

body {
  margin: 0 0.65em;
  background-color: $color-pearl;
  font-family: sans-serif;
  display: block;
}

//NAVBAR ++++ SLIDER IMAGES
header {
  nav {
    margin-top: 1em;
    position: fixed; // right: 0;
    z-index: 100; // background: #C6C5B9;
    // opacity: 0.5;
    width: 100%;
        #nav_logo {
          display: inline-block;
          position: absolute;
          left: 0;
          color: $color-white;
          margin: 0 0.65em;
        }
        div {
          position: absolute;
          right: 0;
          ul {
            li {
              background-color: $color-rainyday;
              display: inline-block;
              font-weight: 600;
              font-size: 29px;
              margin: 0 0.65em;
              box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
              
            }
            a {
              color: $color-white;
              font-size: 0.85em;
              text-decoration: none;
              text-transform: uppercase;
              padding: 0.5em;
              transition: 0.3s;
              &:hover {
                
                text-decoration: underline;
              }
            }
          }
        }
  } 
  
  //SLIDER + IMAGES
  section {
    .hp_img {
      position: relative;
      height: 100vh;
      width: 100%;
      margin: 0;
      text-align: center;
      img {
        max-height: 100vh;
        max-width: 99vw;
        
      }
      div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        h2 {
          font-size: 5vw;
          color: $color-white;
        }
        p {
          font-size: 3vw;
          color: $color-white;
        }
      }
    }
  }
}

#about_us {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  div {
    color: $color-black;
    margin: 10% 10%;
    text-align: center;
    line-height: 1.5em;
    h3 {
      font-size: 3vw;
      text-decoration: underline;
      p {
        font-size: 1.5vw;
      }
    }
  }
}

main {
  .destination_card {
    position: relative;
    margin: 15vh 15vw;
    background-color: $color-black;
    box-shadow: 0 4px 11px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    .outline {
      position: absolute;
      z-index: 70;
      top: 0.625em;
      right: 0.625em;
      bottom: 0.625em;
      left: 0.625em;
      border: 1px solid #fff;
    }
    a {
      text-decoration: none;
      figcaption {
        position: relative;
        img {
          @include max_image
        }
        .card_text {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
          color: $color-white;
          h2 {
            font-size: 4vw;
            padding: 0 3vw;
          }
          p {
            font-size: 2vw;
            padding: 0 3vw;
          }
          div {
            margin-top: 35%;
            span {
              padding: 0 3vw;
              padding: 3vw;
              border-radius: 5px 5px 5px;
              border: 2px solid $color-pearl;
              font-size: 2vw;
            }
          }
        }
      }
    }
  }
}



// DESTINATION PAGE
#main_destination {
  display: grid;
  grid-template-columns: 2fr 1fr;
  article {
    margin-top: 2%;
    padding: 0 2%;
    border-style: solid none none solid;
    border-color: $color-navygrey;
  }
  #map {
    height: 20em;
    width: 100%;
    padding: 4%;
    border-style: none none none solid;
    border-color: $color-navygrey;
  }
  section {
    .gallery {
      margin: 5px;
      border: 1px solid $color-dark;
      float: left;
      width: 180px;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

#footer {
  color: $color-pearl;

  height: 20vh;
  width: 100%;
  background-color: $color-dark;
  display: block;
  margin: 0 0;
}
